In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.11.17)

In [ ]:
!pip install requests_html

Collecting requests_html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from requests_html) (2.31.0)
Collecting pyquery (from requests_html)
  Downloading pyquery-2.0.0-py3-none-any.whl (22 kB)
Collecting fake-useragent (from requests_html)
  Downloading fake_useragent-1.4.0-py3-none-any.whl (15 kB)
Collecting parse (from requests_html)
  Downloading parse-1.20.0-py2.py3-none-any.whl (19 kB)
Collecting bs4 (from requests_html)
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting w3lib (from requests_html)
  Downloading w3lib-2.1.2-py3-none-any.whl (21 kB)
Collecting pyppeteer>=0.0.14 (from requests_html)
  Downloading pyppeteer-1.0.2-py3-none-any.whl (83 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.4/83.4 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: certifi>=2021 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests_html) (2023.11.17)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests_html) (7.0.0)
Collecting pyee<9.0.0,>=8.1.0 (from pyppeteer>=0.0.14->requests_html)
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.66.1)
Collecting urllib3<2.0.0,>=1.25.8 (from pyppeteer>=0.0.14->requests_html)
  Downloading urllib3-1.26.18-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.8/143.8 kB 3.7 MB/s eta 0:00:00
Collecting websockets<11.0,>=10.0 (from pyppeteer>=0.0.14->requests_html)
  Downloading websockets-10.4-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.8/106.8 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from bs4->requests_html) (4.11.2)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.10/dist-packages (from pyquery->requests_html) (4.9.4)
Collecting cssselect>=1.2.0 (from pyquery->requests_html)
  Downloading cssselect-1.2.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->requests_html) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->requests_html) (3.6)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.17.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->bs4->requests_html) (2.5)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1256 sha256=c98e267645bb978bc559f7da292e8df264a061cb1e46ffbce762b42df2df0d56
  Stored in directory: /root/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: pyee, parse, fake-useragent, websockets, w3lib, urllib3, cssselect, pyquery, pyppeteer, bs4, requests_html
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.0.7
    Uninstalling urllib3-2.0.7:
      Successfully uninstalled urllib3-2.0.7
Successfully installed bs4-0.0.1 cssselect-1.2.0 fake-useragent-1.4.0 parse-1.20.0 pyee-8.2.2 pyppeteer-1.0.2 pyquery-2.0.0 requests_html-0.10.0 urllib3-1.26.18 w3lib-2.1.2 websockets-10.4

In [ ]:
import pandas as pd

In [ ]:
import requests

from bs4 import BeautifulSoup
from sqlalchemy import create_engine, Column, String, Integer, MetaData, Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base


# Define the database connection
DATABASE_URL = "sqlite:///linkedin_jobs.db"
engine = create_engine(DATABASE_URL, echo=True)

# Define the database schema
Base = declarative_base()

class JobListing(Base):
    __tablename__ = '_job_listings_'
    id = Column(Integer, primary_key=True, autoincrement=True)
    job_title = Column(String)
    company_name = Column(String)
    job_location = Column(String)

# Create the database table
Base.metadata.create_all(bind=engine)

# initialize db session
Session = sessionmaker(bind=engine)
db_session = Session()

2024-01-08 15:07:44,149 INFO sqlalchemy.engine.Engine BEGIN (implicit)

<ipython-input-5-713b2f68fff8>:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()
INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-01-08 15:07:44,156 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("_job_listings_")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("_job_listings_")

2024-01-08 15:07:44,160 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-01-08 15:07:44,164 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("_job_listings_")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("_job_listings_")

2024-01-08 15:07:44,170 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-01-08 15:07:44,173 INFO sqlalchemy.engine.Engine
CREATE TABLE _job_listings_ (
	id INTEGER NOT NULL,
	job_title VARCHAR,
	company_name VARCHAR,
	job_location VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE _job_listings_ (
	id INTEGER NOT NULL,
	job_title VARCHAR,
	company_name VARCHAR,
	job_location VARCHAR,
	PRIMARY KEY (id)
)

2024-01-08 15:07:44,176 INFO sqlalchemy.engine.Engine [no key 0.00215s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00215s] ()

2024-01-08 15:07:44,188 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
# sample job url
job_url = "https://www.linkedin.com/jobs/search/?currentJobId=3778638090&geoId=108804006&keywords=Data%20Analyst&location=Nagpur%2C%20Maharashtra%2C%20India"

# query job url and parse job listings
response = requests.get(job_url)
soup = BeautifulSoup(response.content, "html.parser")
listings = soup.find_all("div", class_="base-search-card__info")
print(len(listings))

for listing in listings:
    title = listing.find("h3").text.strip()
    company = listing.find("h4").text.strip()
    location = listing.find("span", class_="job-search-card__location").text.strip()

    job_entry = JobListing(job_title=title, company_name=company, job_location=location)
    # add job listing to the db
    db_session.add(job_entry)

# commit the job listings to the db
db_session.commit()

# close the session
db_session.close()

14
Salesforce - Lead Developer
AEM Developer
Hitachi Systems - L2 Systems Engineer - Hyper-V/XenServer
Hitachi Systems - L1 Systems Engineer - Virtualization Technologies
HCL Commerce Developer
Appian Developer
Lead Java Developer
Salesforce Developer - Apex/SOQL
Amantya Technologies - Angular Developer - Javascript/TypeScript
Senior Dotnet Developer
Salesforce Developer - Lightning Component Framework
Hitachi Systems - L3 Systems Engineer - Virtualization/ESXi
Dotnet Developer
Sap Advanced Business Application Programming Developer
2024-01-08 15:07:52,106 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-01-08 15:07:52,116 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,122 INFO sqlalchemy.engine.Engine [generated in 0.00027s (insertmanyvalues) 1/14 (ordered; batch not supported)] ('Salesforce - Lead Developer', 'Perficient', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[generated in 0.00027s (insertmanyvalues) 1/14 (ordered; batch not supported)] ('Salesforce - Lead Developer', 'Perficient', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,126 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,129 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/14 (ordered; batch not supported)] ('AEM Developer', 'Perficient', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/14 (ordered; batch not supported)] ('AEM Developer', 'Perficient', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,131 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,133 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/14 (ordered; batch not supported)] ('Hitachi Systems - L2 Systems Engineer - Hyper-V/XenServer', 'Hitachi Systems India Pvt Ltd', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/14 (ordered; batch not supported)] ('Hitachi Systems - L2 Systems Engineer - Hyper-V/XenServer', 'Hitachi Systems India Pvt Ltd', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,136 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,137 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/14 (ordered; batch not supported)] ('Hitachi Systems - L1 Systems Engineer - Virtualization Technologies', 'Hitachi Systems India Pvt Ltd', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/14 (ordered; batch not supported)] ('Hitachi Systems - L1 Systems Engineer - Virtualization Technologies', 'Hitachi Systems India Pvt Ltd', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,140 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,142 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/14 (ordered; batch not supported)] ('HCL Commerce Developer', 'Perficient', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/14 (ordered; batch not supported)] ('HCL Commerce Developer', 'Perficient', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,144 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,146 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/14 (ordered; batch not supported)] ('Appian Developer', 'Perficient', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 6/14 (ordered; batch not supported)] ('Appian Developer', 'Perficient', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,148 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,150 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/14 (ordered; batch not supported)] ('Lead Java Developer', 'Infosys', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 7/14 (ordered; batch not supported)] ('Lead Java Developer', 'Infosys', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,152 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,154 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/14 (ordered; batch not supported)] ('Salesforce Developer - Apex/SOQL', 'Lirik Infotech', 'Nagpur Rural, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 8/14 (ordered; batch not supported)] ('Salesforce Developer - Apex/SOQL', 'Lirik Infotech', 'Nagpur Rural, Maharashtra, India')

2024-01-08 15:07:52,156 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,158 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/14 (ordered; batch not supported)] ('Amantya Technologies - Angular Developer - Javascript/TypeScript', 'Amantya Technologies', 'Nagpur Rural, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 9/14 (ordered; batch not supported)] ('Amantya Technologies - Angular Developer - Javascript/TypeScript', 'Amantya Technologies', 'Nagpur Rural, Maharashtra, India')

2024-01-08 15:07:52,160 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,162 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/14 (ordered; batch not supported)] ('Senior Dotnet Developer', 'Infosys', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 10/14 (ordered; batch not supported)] ('Senior Dotnet Developer', 'Infosys', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,164 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,166 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/14 (ordered; batch not supported)] ('Salesforce Developer - Lightning Component Framework', 'Amantya Technologies', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 11/14 (ordered; batch not supported)] ('Salesforce Developer - Lightning Component Framework', 'Amantya Technologies', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,168 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,170 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/14 (ordered; batch not supported)] ('Hitachi Systems - L3 Systems Engineer - Virtualization/ESXi', 'Hitachi Systems India Pvt Ltd', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 12/14 (ordered; batch not supported)] ('Hitachi Systems - L3 Systems Engineer - Virtualization/ESXi', 'Hitachi Systems India Pvt Ltd', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,172 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,174 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/14 (ordered; batch not supported)] ('Dotnet Developer', 'Info Origin Inc.', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 13/14 (ordered; batch not supported)] ('Dotnet Developer', 'Info Origin Inc.', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,176 INFO sqlalchemy.engine.Engine INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO _job_listings_ (job_title, company_name, job_location) VALUES (?, ?, ?) RETURNING id

2024-01-08 15:07:52,178 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/14 (ordered; batch not supported)] ('Sap Advanced Business Application Programming Developer', 'Tech Mahindra', 'Nagpur, Maharashtra, India')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 14/14 (ordered; batch not supported)] ('Sap Advanced Business Application Programming Developer', 'Tech Mahindra', 'Nagpur, Maharashtra, India')

2024-01-08 15:07:52,182 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
   # Query and print the database entries
   jobs = db_session.query(JobListing).all()
   for job in jobs:
    print(f"Title: {job.job_title}, Company: {job.company_name}, Location: {job.job_location}")

2024-01-08 15:07:58,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-01-08 15:07:58,492 INFO sqlalchemy.engine.Engine SELECT _job_listings_.id AS _job_listings__id, _job_listings_.job_title AS _job_listings__job_title, _job_listings_.company_name AS _job_listings__company_name, _job_listings_.job_location AS _job_listings__job_location
FROM _job_listings_

INFO:sqlalchemy.engine.Engine:SELECT _job_listings_.id AS _job_listings__id, _job_listings_.job_title AS _job_listings__job_title, _job_listings_.company_name AS _job_listings__company_name, _job_listings_.job_location AS _job_listings__job_location
FROM _job_listings_

2024-01-08 15:07:58,497 INFO sqlalchemy.engine.Engine [generated in 0.00576s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00576s] ()

Title: Salesforce - Lead Developer, Company: Perficient, Location: Nagpur, Maharashtra, India
Title: AEM Developer, Company: Perficient, Location: Nagpur, Maharashtra, India
Title: Hitachi Systems - L2 Systems Engineer - Hyper-V/XenServer, Company: Hitachi Systems India Pvt Ltd, Location: Nagpur, Maharashtra, India
Title: Hitachi Systems - L1 Systems Engineer - Virtualization Technologies, Company: Hitachi Systems India Pvt Ltd, Location: Nagpur, Maharashtra, India
Title: HCL Commerce Developer, Company: Perficient, Location: Nagpur, Maharashtra, India
Title: Appian Developer, Company: Perficient, Location: Nagpur, Maharashtra, India
Title: Lead Java Developer, Company: Infosys, Location: Nagpur, Maharashtra, India
Title: Salesforce Developer - Apex/SOQL, Company: Lirik Infotech, Location: Nagpur Rural, Maharashtra, India
Title: Amantya Technologies - Angular Developer - Javascript/TypeScript, Company: Amantya Technologies, Location: Nagpur Rural, Maharashtra, India
Title: Senior Dotnet Developer, Company: Infosys, Location: Nagpur, Maharashtra, India
Title: Salesforce Developer - Lightning Component Framework, Company: Amantya Technologies, Location: Nagpur, Maharashtra, India
Title: Hitachi Systems - L3 Systems Engineer - Virtualization/ESXi, Company: Hitachi Systems India Pvt Ltd, Location: Nagpur, Maharashtra, India
Title: Dotnet Developer, Company: Info Origin Inc., Location: Nagpur, Maharashtra, India
Title: Sap Advanced Business Application Programming Developer, Company: Tech Mahindra, Location: Nagpur, Maharashtra, India